@font-face {
  font-family: "Asap";
  src: url("/assets/Asap-Regular.otf");
}

@font-face {
  font-family: "Asap";
  src: url("/assets/Asap-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Asap";
  src: url("/assets/Asap-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Asap";
  src: url("/assets/Asap-Italic.otf");
  font-style: italic;
}

@darker: #367CA9;
@lightest: #9ED9FF;
@light: #52BCFF;
@darkest: #102632;
@lighteneddarkest: #24546F;
@dark: #4196CC;
@posttext: #444;
@darkertext: #222;
@offwhite: #FCFDFE;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  //background: url('/assets/bg_blue.png');
  color: @posttext;
  background-color: @dark;
  font-weight: 300;
  font-family: 'Asap', Verdana, sans-serif;
  opacity: .99;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: @darker;
}

a:hover, a:active {
  color: @darkest;
}

#wrapper {
  padding-top: 30px;
}
