@posttext: #444;
@darkertext: #222;
@offwhite: #FCFDFE;


.graph {
  height: 320px;

  text {
    fill: @posttext;
    font-family: 'Asap-Regular', Verdana, sans-serif;
    font-size: 12px;
    text-anchor: middle;
  }

  .axis-label {
    font-size: 14px;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: @posttext;
    shape-rendering: crispEdges;
  }

  .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    stroke-dasharray: 2,2;
  }

  .grid path {
    stroke-width: 0;
  }

  .bar {
    opacity: .8;

    &.positive {
      fill: #1f77b4;
    }

    &.negative {
      fill: #d62728;
    }
  }

  .bar:hover {
    opacity: 1;
  }

  .pie {
    .center {
      fill: @offwhite;
    }

    .label {
      stroke: @posttext;
    }

    .arc:hover {
      opacity: .8;
    }
  }

  .details {
    .details-background {
      fill: @offwhite;
      stroke: @posttext;
      stroke-width: 1px;
    }

    .details-text {
      font-size: 16px;
    }
  }

  .line-graph {
    .line {
      fill: none;
      stroke-width: 1.5px;
    }

    .legend {
      rect {
        stroke-width: 2;
        stroke: @posttext;
      }
    }

    .marker {
      stroke: @offwhite;
      stroke-width: 2;
    }

    .day-marker {
      opacity: 0;
      fill: #E6E1DD;

      &.selected {
        opacity: .5;
      }
    }

    .hidden {
      display: none;
    }
  }
}
