---
layout: default
title: In Place, Of Food
---
    <meta name="description" content="Food, geography, culture, and history are all so interconnected, we cannot fully experience a place without also understanding their food. Here, one dish and location at a time, we explore a little more.">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/blog.css">

</head>
<body>
<div id="wrapper">
  <div class="blog wide">
    <a class="head-links" href="/">home</a>
    <a class="head-links" href="/travel.xml">rss</a>
    <div class="header">
      <h1>In Place, Of Food</h1>
      <p class="blog-description">Food, geography, culture, and history are all so interconnected, we cannot fully experience a place without also understanding their food. Here, one dish and location at a time, we explore a little more.</p>
    </div>
    {% assign countries = site.categories.travel | sort: "date" | reverse | map: "country" | uniq %}
    {% for country in countries %}
    <div>
      {% assign posts = site.categories.travel | where: "country", country %}
      <h2 class="travel-header">{{ country }} ({{posts | size}} posts)</h2>
      <ul class="travel-posts">
        {% for post in posts %}
          {% if post.publish %}
            <li>
              {% if post.image != nil %}
              <a href="{{ post.url }}" class="with-image" style="background-image: url('{{ post.image }}')">
              {% else %}
              <a href="{{ post.url }}" class="no-image">
              {% endif %}
                <div class="image-text-container">
                  <p>Place: {{ post.place }}<br/>
                  Food: {{ post.food }}</p>
                </div>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
$(function () {
  $('.travel-header').click(function () {
    const $travelPost  = $(this).next('.travel-posts')
    if ($($travelPost).is(":visible")) {
      $travelPost.slideUp(300)
      $(this).removeClass('open')
    } else {
      $travelPost.slideDown(1000)
      $(this).addClass('open')
    }
  })
});
</script>