@font-face {
  font-family: Asap-Regular;
  src: url("/assets/Asap-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  color: #444444;
  background-color: #4196cc;
  font-weight: 300;
  font-family: 'Asap-Regular', Verdana, sans-serif;
  opacity: .99;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #367ca9;
}
a:hover,
a:active {
  color: #102632;
}
#wrapper {
  padding-top: 30px;
}
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}
#overlay #content {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: auto;
  padding: 40px 40px 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background: #fcfdfe;
  width: 75%;
  overflow: auto;
  font-size: 18px;
  line-height: 1.7em;
}
#overlay #close {
  top: 0;
  right: 0;
  font-size: 50px;
  line-height: .5;
}
#overlay #close,
#overlay .arrow {
  position: fixed;
  cursor: pointer;
  opacity: .4;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#overlay .arrow {
  font-size: 100px;
  top: 50%;
  margin-top: -50px;
}
#overlay .arrow#right {
  right: 0;
}
#overlay #close:hover,
#overlay .arrow:hover {
  color: #fcfdfe;
}
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.iframe {
  border: none;
  width: 100%;
}
.blog {
  background: #fcfdfe;
  margin: 20px auto 0;
  width: 800px;
  padding: 70px 70px 40px;
}
.blog .header {
  padding: 20px 0 40px 0;
  text-align: center;
  color: #222222;
}
.blog .header h1 {
  font-size: 50px;
}
.blog .header h2 {
  font-size: 35px;
}
.blog .header .meta {
  margin-top: 10px;
}
.blog .head-links {
  padding-right: 10px;
}
.blog .posts {
  width: inherit;
  margin-left: -70px;
}
.blog .posts li {
  padding: 20px 70px;
  width: 100%;
}
.blog .posts li a p {
  display: block;
}
.blog .posts li a p.date {
  color: #444444;
  font-size: 14px;
  opacity: .8;
}
.blog .posts li a p.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 22px;
  margin-bottom: 12px;
}
.blog .posts li a p.tagline {
  color: #444444;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}
.blog .posts li:hover,
.blog .posts li:active {
  background: #eee;
}
.blog .posts li:hover .title,
.blog .posts li:active .title {
  color: #102632;
}
.blog .post {
  font-size: 18px;
  line-height: 1.7em;
  color: #444444;
  margin-bottom: 60px;
  padding-bottom: 25px;
  max-width: 650px;
  margin: auto;
}
.blog .post h1,
.blog .post h2,
.blog .post h3 {
  margin-top: 40px;
  color: #222222;
}
.blog .post p:first-child {
  margin-top: 0;
}
.blog .post p {
  margin: 1em 0;
}
.blog .post strong {
  color: #222222;
}
.blog .post img {
  margin: auto;
  display: block;
  max-width: 100%;
}
.blog .post figcaption {
  text-align: center;
  font-size: 16px;
}
.blog .post ul,
.blog .post ol {
  padding-left: 1em;
  margin-left: 1em;
}
.blog .post ul {
  list-style: disc;
}
.blog .post blockquote {
  border-left: 7px solid #B6B6B6;
  opacity: .8;
  margin: 0 1em;
  padding: 5px 1em;
}
.blog .post blockquote p {
  margin: 0;
}
.blog #disqus_thread {
  margin-top: 60px;
}
@media only screen and (max-width: 799px) {
  .blog {
    padding: 20px;
    width: 100%;
  }
  .blog .posts {
    margin-left: 0;
  }
  .blog .posts li {
    padding: 20px;
  }
}
@media only screen and (max-width: 599px) {
  #close {
    font-size: 20px;
  }
  .arrow {
    font-size: 60px !important;
  }
  #close:hover {
    color: #4196cc;
  }
  #overlay #content {
    padding: 20px 20px 0 !important;
    margin: 0;
    height: inherit;
    width: inherit;
  }
}
