@font-face {
  font-family: Asap-Regular;
  src: url("/assets/Asap-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  color: #444444;
  background-color: #4196cc;
  font-weight: 300;
  font-family: 'Asap-Regular', Verdana, sans-serif;
  opacity: .99;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #367ca9;
}
a:hover,
a:active {
  color: #102632;
}
#wrapper {
  padding-top: 30px;
}
.graph {
  height: 320px;
}
.graph text {
  fill: #444444;
  font-family: 'Asap-Regular', Verdana, sans-serif;
  font-size: 12px;
  text-anchor: middle;
}
.graph .axis-label {
  font-size: 14px;
}
.graph .axis path,
.graph .axis line {
  fill: none;
  stroke: #444444;
  shape-rendering: crispEdges;
}
.graph .grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
  stroke-dasharray: 2,2;
}
.graph .grid path {
  stroke-width: 0;
}
.graph .bar {
  opacity: .8;
}
.graph .bar.positive {
  fill: #1f77b4;
}
.graph .bar.negative {
  fill: #d62728;
}
.graph .bar:hover {
  opacity: 1;
}
.graph .pie .center {
  fill: #fcfdfe;
}
.graph .pie .label {
  stroke: #444444;
}
.graph .pie .arc:hover {
  opacity: .8;
}
.graph .details .details-background {
  fill: #fcfdfe;
  stroke: #444444;
  stroke-width: 1px;
}
.graph .details .details-text {
  font-size: 16px;
}
.graph .line-graph .line {
  fill: none;
  stroke-width: 1.5px;
}
.graph .line-graph .legend rect {
  stroke-width: 2;
  stroke: #444444;
}
.graph .line-graph .marker {
  stroke: #fcfdfe;
  stroke-width: 2;
}
.graph .line-graph .day-marker {
  opacity: 0;
  fill: #E6E1DD;
}
.graph .line-graph .day-marker.selected {
  opacity: .5;
}
.graph .line-graph .hidden {
  display: none;
}
