---
layout: default
title: Post Mort Yum
---
    <meta name="description" content="Hi, I'm Owen Wang! Welcome to my website. Here you'll find my thoughts on random topics.">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/blog.css">

</head>
<body>
<div id="wrapper">
  <div class="blog">
    <a class="head-links" href="/">home</a>
    <a class="head-links" href="/food.xml">rss</a>
    <div class="header">
      <h1>Post Mort Yum</h1>
      <p><a href="https://twitter.com/wang" target="_blank">DM me</a> if you want more details on anything</p>
    </div>
    <ul class="food-posts">
      {% for post in site.categories.food %}
        {% if post.publish %}
          <li>
            {% if post.image != nil %}
            <a href="{{ post.url }}" class="with-image" style="background-image: url('{{ post.image }}')">
            {% else %}
            <a href="{{ post.url }}" class="no-image">
            {% endif %}
              <p class="title">{{ post.title }}</p>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
