---
layout: default
title: Post Mort Yum
---
    <meta name="description" content="Retrospectives on what went well / could be improved when I try to cook new dishes. Let's learn together!">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/blog.css">

</head>
<body>
<div id="wrapper">
  <div class="blog wide">
    <a class="head-links" href="/">home</a>
    <a class="head-links" href="/food.xml">rss</a>
    <div class="header">
      <h1>Post Mort Yum</h1>
      <p class="blog-description">Retrospectives on what went well / could be improved when I try to cook new dishes. Let's learn together! <br/>
        <a href="https://twitter.com/wang" target="_blank">DM me</a> if you want more details on any of these.</p>
    </div>
    <h2 class="food-header">Best Of</h2>
    <ul class="food-posts">
      {% assign best = site.categories.food | where: "featured", true %}
      {% for post in best %}
        {% if post.publish %}
          <li>
            {% if post.image != nil %}
            <a href="{{ post.url }}" class="with-image" style="background-image: url('{{ post.image }}')">
            {% else %}
            <a href="{{ post.url }}" class="no-image">
            {% endif %}
              <div class="image-text-container">
                <p>{{ post.title }}</p>
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <h2 class="food-header">All</h2>
    <ul class="food-posts">
      {% for post in site.categories.food %}
        {% if post.publish %}
          <li>
            {% if post.image != nil %}
            <a href="{{ post.url }}" class="with-image" style="background-image: url('{{ post.image }}')">
            {% else %}
            <a href="{{ post.url }}" class="no-image">
            {% endif %}
              <div class="image-text-container">
                <p>{{ post.title }}</p>
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
