body {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.CodeMirror {
  text-align: left;
  border: 1px solid #CCCCCC;
  width: 500px;
  height: 300px;
  padding: 5px;
  margin: auto;
}

#run {
  display: block;
  margin: 10px auto;
}

#output {
  border: 1px solid #ccc;
  width: 500px;
  height: 50px;
  padding: 5px;
  margin: auto;
}

#description {
  text-align: left;
  padding: 20px;
  width: 500px;
  margin: auto;
}

a, a:visited {
  text-decoration: none;
  color: #0055AA;
}

a:hover {
  color: blue;
}

#examples {
  float: left;
}

.button {
  font-size: 14px;
  background: #ccc;
  border: none;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 5px;
}

.button:active, .button:hover {
  background: #aaa;
}