.row {
  margin-bottom: 20px;
}

.row > div {
  margin-bottom: 20px;
}

.link {
  margin-right: 10px;
}

.buttons {
  margin-bottom: 0;
}

#add-talk {
  margin-bottom: 15px;
}

h1 {
  margin-bottom: 30px;
}

#private {
  margin-left: 3px;
}
